.bg{
    background-image: url(../../assets/img/back.jpg);
}
.login{
    background-color: #FFC7D8;
    text-align: center;
    height: 110vh;
}
.loginImage{
    text-align: center;

}
img{
    max-width: 300px;
    margin-bottom: -24px;
}
.form-group input{
    max-width: 892px;
    height: 70px;
}
.loginBtn{
    color: white;
    background-color: #E96F93;
    width: 150px;
    margin-top: 50px;
}
.login p{
    color: #8E8E8E;
}
.login a{
    text-decoration: none;
    color: #8E8E8E;
}

