<div class="d-flex justify-content-center flex-column">
<div class=" mb-4 mt-4 tamContainer">
    <div class="row">
        <div class="col-12 trending">
             <h1>Trending Topics</h1>
        </div>
 </div>
  </div>

 <div class="container mb-4">
  <div class="row">
        <div class="col-8 feed">
             <h2>Posts-Forum</h2>
        </div>

            <div class="col-4 feed">
                <h2>Perfil</h2>
                <p>Nome</p>
                <hr>
                <h2>Posts</h2>
                <p>novos posts</p>
            </div>
        </div>
     </div> 
</div>



