.trending {
  background-color: #faabc2;
}
.card-header {
  background-color: #eeb9c8;
}
.card-footer {
  background-color: #eebac9;
}

.feed {
  background-color: #ffebf1;
}

.containerPerfil {
  margin-left: 5px;
  justify-content: end;
}

.containerPosts {
  margin-right: 5px;
}

.marginLeft {
  margin-left: 10px;
}

.tamContainer {
  width: 90vw;
}
.fs-16{
  font-size: 16pt;
}
a{
  cursor: pointer;
}
li{
  list-style: none
}
.pesquisa{
  background-color: #fc618d;
}
