<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Sobre</title>
</head>
<body>
    <div class="container-fluid content">
        <div class="imageSobre align-middle" >
            <img src="../../assets/img/sobreGirl.png" alt="">
        </div>
        <div class="sobreText">
            <h1>Projeto Girls Camp</h1>
            <div class="descricao">
                <p><b>O projeto Girls Camp engloba a formação de um espaço seguro para facilitar a comunicação entre mulheres de todo o país.
                    O projeto Girls Camp engloba a formação de um espaço seguro para facilitar a comunicação entre mulheres de todo o país.
                    O projeto Girls Camp engloba a formação de um espaço seguro para facilitar a comunicação entre mulheres de todo o país.
                    O projeto Girls Camp engloba a formação de um espaço seguro para facilitar a comunicação entre mulheres de todo o país.
                    O projeto Girls Camp engloba a formação de um espaço seguro para facilitar a comunicação entre mulheres de todo o país.
                    O projeto Girls Camp engloba a formação de um espaço seguro para facilitar a comunicação entre mulheres de todo o país.
                    O projeto Girls Camp engloba a formação de um espaço seguro para facilitar a comunicação entre mulheres de todo o país.O projeto Girls Camp engloba a formação de um espaço seguro para facilitar a comunicação entre mulheres de todo o país.O projeto Girls Camp engloba a formação de um espaço seguro para facilitar a comunicação entre mulheres de todo o país.O projeto Girls Camp engloba a formação de um espaço seguro para facilitar a comunicação entre mulheres de todo o país.
                </b></p>
            </div>
        </div>
    </div>
    <div class="circulos">
        <ul>
            <img src="../../assets/img/Ellipse 4.png" alt="">
            <img src="../../assets/img/Ellipse 4.png" alt="">
            <img src="../../assets/img/Ellipse 4.png" alt="">
            <img src="../../assets/img/Ellipse 4.png" alt="">

        </ul>
    </div>
</body>
</html>
