<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid bg">
      <div class="container">
        <h1 class="display-4 p-5">Equipe de Devs</h1>
      </div>
    </div>
  </div>
  
  <!----------------------------------------->
  
  <div class="row d-flex justify-content-end mt-5">
    <div class="col-2">
      <img
        class="imgSize"
        src="https://lh3.googleusercontent.com/proxy/9wNV_UE2KiD0nFa4L21jwWkvcYvPVpQGWZyTy6dAMxNHKCmJgtfxqUkb3R4UD37BgHhOqAtwX8hQYOnXok9X8HIzTGGqXKdldxhiwDh5j8qx92rQa_XX8yxJW7RyKrt59_SVKw"
        alt=""
      />
    </div>
    <div class="col-6">
      <h5 class="text-center">Carol</h5>
      <p class="text-right">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cumque
        maxime sit enim consequatur, perspiciatis ea provident placeat magni iste
        veritatis neque quia vel asperiores eaque. Facere incidunt illo ipsa!
      </p>
      <div class="d-flex justify-content-center">
        <ul class="redesSociais">
          <li>
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/facebook.png"
                alt="Logo Facebook"
              />
            </a>
  
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/instagram.png"
                alt="Logo Instagram"
              />
            </a>
  
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/BotaoEmail.png"
                alt="Logo Email"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!----------------------------------------->
  <hr />
  <hr />
  <!----------------------------------------->
  
  <div class="row d-flex justify-content-start">
    <div class="col-6">
      <h5 class="text-center">Gilson</h5>
      <p class="text-right">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cumque
        maxime sit enim consequatur, perspiciatis ea provident placeat magni iste
        veritatis neque quia vel asperiores eaque. Facere incidunt illo ipsa!
      </p>
      <div class="d-flex justify-content-center">
        <ul class="redesSociais">
          <li>
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/facebook.png"
                alt="Logo Facebook"
              />
            </a>
  
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/instagram.png"
                alt="Logo Instagram"
              />
            </a>
  
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/BotaoEmail.png"
                alt="Logo Email"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-2">
      <img
        class="imgSize"
        src="https://lh3.googleusercontent.com/proxy/9wNV_UE2KiD0nFa4L21jwWkvcYvPVpQGWZyTy6dAMxNHKCmJgtfxqUkb3R4UD37BgHhOqAtwX8hQYOnXok9X8HIzTGGqXKdldxhiwDh5j8qx92rQa_XX8yxJW7RyKrt59_SVKw"
        alt=""
      />
    </div>
  </div>
  <!----------------------------------------->
  <hr />
  <hr />
  <!----------------------------------------->>
  
  <div class="row d-flex justify-content-end">
    <div class="col-2">
      <img
        class="imgSize"
        src="https://lh3.googleusercontent.com/proxy/9wNV_UE2KiD0nFa4L21jwWkvcYvPVpQGWZyTy6dAMxNHKCmJgtfxqUkb3R4UD37BgHhOqAtwX8hQYOnXok9X8HIzTGGqXKdldxhiwDh5j8qx92rQa_XX8yxJW7RyKrt59_SVKw"
        alt=""
      />
    </div>
    <div class="col-6">
      <h5 class="text-center">Helena</h5>
      <p class="text-right">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cumque
        maxime sit enim consequatur, perspiciatis ea provident placeat magni iste
        veritatis neque quia vel asperiores eaque. Facere incidunt illo ipsa!
      </p>
      <div class="d-flex justify-content-center">
        <ul class="redesSociais">
          <li>
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/facebook.png"
                alt="Logo Facebook"
              />
            </a>
  
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/instagram.png"
                alt="Logo Instagram"
              />
            </a>
  
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/BotaoEmail.png"
                alt="Logo Email"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!----------------------------------------->
  <hr />
  <hr />
  <!----------------------------------------->
  
  <div class="row d-flex justify-content-start">
    <div class="col-6">
      <h5 class="text-center">Patrick</h5>
      <p class="text-right">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cumque
        maxime sit enim consequatur, perspiciatis ea provident placeat magni iste
        veritatis neque quia vel asperiores eaque. Facere incidunt illo ipsa!
      </p>
      <div class="d-flex justify-content-center">
        <ul class="redesSociais">
          <li>
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/facebook.png"
                alt="Logo Facebook"
              />
            </a>
  
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/instagram.png"
                alt="Logo Instagram"
              />
            </a>
  
            <a href="#" target="_blank">
              <img
                width="50"
                src="../../assets/img/BotaoEmail.png"
                alt="Logo Email"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-2">
      <img
        class="imgSize"
        src="https://lh3.googleusercontent.com/proxy/9wNV_UE2KiD0nFa4L21jwWkvcYvPVpQGWZyTy6dAMxNHKCmJgtfxqUkb3R4UD37BgHhOqAtwX8hQYOnXok9X8HIzTGGqXKdldxhiwDh5j8qx92rQa_XX8yxJW7RyKrt59_SVKw"
        alt=""
      />
    </div>
  </div>